Video 3-

Topics Covered 


    How to Create Data frame

    
        1.Using CSV
        2.Using Excel
        3.Python Dict
        4.From list of tuples
        5.From list of dict

In [2]:
import pandas as pd

first way - directly reading CSV

In [3]:
df=pd.read_csv("weather_data.csv")

Creating DataFrame from Excel

In [4]:
df=pd.read_excel("weather_data.xlsx")

In [5]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

creating data frame using python dict

In [8]:
weather_data={
    'day':['1/1/2017','2/1/2017'],
    'temp':[23,42],
    'windspeed':[6,7]
}

df=pd.DataFrame(weather_data)

In [9]:
df

        day  temp  windspeed
0  1/1/2017    23          6
1  2/1/2017    42          7

using a tuple list

In [11]:
weather_data=[
    ('1/1/2017',32,6,'rain'),
    ('1/2/2017',43,7,'snow')
]

df=pd.DataFrame(weather_data,columns=["day","temperature","windspeed","event"])

In [12]:
df

        day  temperature  windspeed event
0  1/1/2017           32          6  rain
1  1/2/2017           43          7  snow