# Indexing /Extracting Data Frame

In [1]:
import numpy as np
import pandas as pd

In [2]:
arr=np.random.randint(10,100,size=(6,4))

In [3]:
arr

array([[40, 30, 45, 21],
       [27, 18, 98, 57],
       [52, 12, 65, 34],
       [31, 69, 92, 36],
       [78, 10, 68, 31],
       [78, 70, 90, 22]])

In [5]:
df=pd.DataFrame(data=arr)
df

    0   1   2   3
0  40  30  45  21
1  27  18  98  57
2  52  12  65  34
3  31  69  92  36
4  78  10  68  31
5  78  70  90  22

In [6]:
df.index="p q r s t u".split()

In [7]:
df

    0   1   2   3
p  40  30  45  21
q  27  18  98  57
r  52  12  65  34
s  31  69  92  36
t  78  10  68  31
u  78  70  90  22

In [9]:
#loc
df.loc['p']

0    40
1    30
2    45
3    21
Name: p, dtype: int32

In [10]:
df.loc['t']

0    78
1    10
2    68
3    31
Name: t, dtype: int32

In [11]:
#iloc - integer location
df.iloc[4] #directly give number of the row you want to extract

0    78
1    10
2    68
3    31
Name: t, dtype: int32

In [13]:
df.iloc[0]

0    40
1    30
2    45
3    21
Name: p, dtype: int32

In [15]:
df.iloc[2:5]

    0   1   2   3
r  52  12  65  34
s  31  69  92  36
t  78  10  68  31

In [17]:
df.iloc[2:5,][[0,1]]

    0   1
r  52  12
s  31  69
t  78  10

In [20]:
df.iloc[-2:][[3]]

    3
t  31
u  22